<!DOCTYPE HTML>
<html lang="en-us">
<head>
	<title>Travel Blog</title>
</head>
	<body>
	<header>
		<h2>Welcome to the travel Blog</h2>
	</header>

	{{{ body }}}

	<footer>
		<h6>The Gypsie Kings 2017</h6>
	</footer>
</body>
</html>