<!DOCTYPE HTML>
<html lang="en-us">
<head>
	<title>Travel Blog</title>
	<!--Custom CSS-->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
	<body>
	<header>
		<h2>Welcome to the travel Blog</h2>
	</header>

	{{{ body }}}

	<footer>
		<h6>The Gypsie Kings 2017</h6>
	</footer>
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
	<!-- Custom JS -->
	<script src = "/assets/js/frontEnd.js"></script>
</body>
</html>