<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Travel Blog</title>
	<!--Custom CSS-->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />

  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
	<script src="./leafletplugins.js"></script>
</head>


<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Travel Blogger</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <form class="navbar-form navbar-left">
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="profile">Hello {{firstName}}</a></li>
        <li><img src={{profileURL}} class = 'profileImg'></li>
        <li class="dropdown">
      </ul>
</nav>


<body class="bg">
  <div class="container">
    <div class="jumbotron" id="tagLine">
      <h1 class="text-center animation-target" id="titleLine">Travel Blogger</h1>
      <h2 class="text-center animation-target" id="secondaryTitle">A nomadic free spirited application for finding your next adventure </h2>
    </div>
    <div class="inputArea">
      <div class="navigation">
      </div>

      <div class="panel-body">
        <form id="input-form">
          <div class="form-group">
            <label for="travel" id="searchLabel">Where would you like to travel too?</label>
            <input class="form-control" id="traveltext" type="text" placeholder="ex. Paris, France">
          </div>
          <button class="btn btn-success" id="submit" type="submit">Search Blogs!</button>
        </form>

      </div>

      <div class="panel-body">
        <div id="map" style="height: 400px; width: 100%x"></div>
      </div

    <div class="row" id="results">
    </div>



 <Footer> &copy; The Gypsie Kings 2017 </Footer>

 <script>


// we need to get it to grab the locations from the server

// Then just spit them into the geocoder and it will build

// delete locations when its ready these are just examples

 var locations = [
 		["LOCATION_1",11.8166, 122.0942],
 		["LOCATION_2",11.9804, 121.9189],
 		["LOCATION_3",10.7202,122.5621],
 		["LOCATION_4",11.3889,122.6277],
 		["LOCATION_5",10.5929,122.6325]
 		];

var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
var osmAttrib='&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
var osm = new L.TileLayer(osmUrl, {attribution: osmAttrib});
var map = new L.Map('map').addLayer(osm).setView([0, 0], 2);

var osmGeocoder = new L.Control.OSMGeocoder({placeholder: 'Search location...'});

map.addControl(osmGeocoder);

L.control.mousePosition().addTo(map);

for (var i = 0; i < locations.length; i++) {
	marker = new L.marker([locations[i][1],locations[i][2]])
		.bindPopup(locations[i][0])
		.addTo(map);
}

 </script>

</body>

</html>
